/* *** FORM *** */
input, textarea{
  @apply border border-transparent rounded py-2 px-4 bg-slate-700 transition-all block w-full mt-4;
  @apply hover:border-muted focus:border-muted focus:bg-slate-750;
  outline:none;
}

form .field{
  @apply relative mt-8
}

form label,
.autocomplete label{
  @apply absolute left-3 top-2 text-sm transition-all z-10 pointer-events-none px-1;
}

form .has-text input{
  @apply bg-slate-700
}

form :focus + label,
form .has-text label,
form .is-acceptable label,
.autocomplete :focus + label,
:not(:placeholder-shown) + label{
  @apply left-1 top-0 text-xs leading-4 bg-slate-800;
  transform:translateY(-50%);
  background: linear-gradient(to top, #334155 50%, #1e293b 50%);
}

form .field.checkbox + .checkbox{
  @apply mt-2
}

form [type="checkbox"]{
  @apply w-max m-0 mr-4 mt-1.5 flex w-4
}

form .checkbox label{
  @apply text-base bg-none static w-max pl-0 flex pointer-events-auto leading-6 items-start
}

form .has-error input,
form .has-error textarea{
  @apply border-red;
  box-shadow: 0 0 3px #eb4747;
}

form .is-acceptable input,
form .is-acceptable textarea{
  @apply border-green;
  box-shadow: 0 0 3px #00d96c;
}

form .errors{
  @apply text-red text-sm overflow-hidden max-h-0 transition-all;
}

form .has-error .errors{
  @apply max-h-12
}

form .btn{
  @apply disabled:pointer-events-none disabled:text-textColor-muted;
}

/* *** BUTTON *** */
.btn{
  @apply text-textColor-primary leading-5 font-serif text-sm uppercase px-8 py-2 font-bold rounded transition-all relative z-10 border-2 border-slate-600 block cursor-pointer;
  @apply hover:text-textColor-highlight hover:border-red
}

.btn:after, .btn:before{
  @apply absolute top-0.5 left-0.5 w-0 transition-all block;
  content:"";
  height:calc(100% - 4px);
  transition-duration: .4s;
  z-index: -1;
}

.btn:before{
  @apply bg-bgColor-highlight;
}

.btn:after{
  @apply bg-red;
  transition-delay: .1s;
}

.btn:hover:after, .btn:hover:before{
  width:calc(100% - 4px);
}

.btn-green{
  @apply border-slate-600 hover:border-green after:bg-green
}

.btn-red{
  @apply border-slate-600 hover:border-red after:bg-red
}

.btn-muted{
  @apply border-slate-600 hover:border-textColor-muted after:bg-textColor-muted
}

.btn-large{
  @apply px-16 py-4 text-base
}

/* BTN VARIATION */
.btn-text{
  @apply relative
}

.btn-text:after{
  @apply absolute bottom-0 left-0 w-0 bg-current transition-all;
  @apply hover:w-full;
  height:1px;
  content:"";
}

a:hover .btn-text:after{
  @apply w-full
}

.btn-close{
  @apply w-12 -rotate-45 p-3 text-muted cursor-pointer transition-all border-transparent border rounded-full;
  @apply hover:rotate-45 hover:bg-slate-800 hover:border-muted hover:text-textColor-primary;
}

.btn-edit{
  @apply w-16 p-3 cursor-pointer transition-all rounded-full border border-transparent;
  @apply hover:bg-slate-700 hover:text-slate-800 hover:border-muted;
}

.btn-edit.active{
  @apply bg-slate-700 text-slate-800 border-muted;
}

.btn-editMode{
  @apply fixed top-36 right-8 flex gap-3 items-center bg-slate-750;
}

.scrolled .btn-editMode{
  @apply top-24
}

/* *** TAGS *** */

.tags{
  @apply flex gap-2 mb-2 flex-wrap;
}

.tags li{
  @apply px-4 py-2 bg-red text-textColor-primary rounded-3xl flex font-serif font-medium tracking-widest leading-6
}

.tags-small li{
  @apply text-sm px-3 py-1.5
}

.tags-xs li{
  @apply px-2 py-0.5 rounded-md text-sm font-normal leading-6
}

.tags svg{
  @apply w-0 fill-textColor-primary transition-all cursor-pointer;
}

.tags li:hover svg{
  @apply w-6 ml-2
}

.tags .trash{
  @apply fill-textColor-primary
}

/* *** CARDS *** */

.cards > .card{
  @apply p-4 border-t border-t-slate-500 block bg-slate-750 drop-shadow-lg;
}

.card + .card{
  @apply mt-4
}

a.card{
  @apply hover:border-highlight
}

a.card:hover{
  transform:scale(1.02);
}


/* *** LIST PROJECTS / LIST QUESTIONS *** */

.list-projects .tags, .list-questions .tags{
  @apply mb-0
}

.resource-input,
.resource-details input {
  @apply w-96 max-w-full
}

.resource-input > .field:first-child {
  @apply mt-0
}

.resource-input + .trash{
  @apply mt-7
}


/* *** QUOTES *** */

.quote{
  @apply text-textColor-primary px-20 py-8 relative
}

blockquote{
  @apply text-xl;
}

.quote p{
  @apply mt-4 ml-8 text-lg;
  font-variant: small-caps;
}

.quote-icon{
  @apply absolute w-auto h-full left-0 top-0 opacity-5
}


/* *** HINTS *** */

.hint{
  @apply text-sm pl-4 leading-6 mt-2
}