/* *** DASHBOARD *** */

.dashboard .user-authentication {
  @apply max-w-lg mx-auto;
}

.dashboard .quote {
  max-width: 768px;
  width: auto;
}

.teaser {
  max-width: 1600px;
  @apply mx-auto px-16
}

.teaser-item {
  @apply relative border border-slate-500 cursor-pointer transition-all overflow-hidden;
  @apply hover:border-slate-200;
}

.teaser img {
  @apply absolute top-0 left-0 w-full h-full object-cover transition-all;
}

.teaser-item:hover img {
  @apply scale-105;
}

.teaser-content {
  @apply relative z-10 text-lg uppercase px-8 py-32 text-center text-textColor-primary font-bold bg-slate-900 bg-opacity-80 transition-all;
  @apply hover:scale-150 hover:bg-opacity-60
}

/* ********** PROFILE ********** */

.profil .h3,
.profil h3 {
  @apply mt-8;
}

.profil .name > :first-child > h3:first-child {
  @apply mt-0;
}

.avatar {
  @apply relative;
}

.iconEditAvatar {
  @apply absolute bottom-0 right-0 p-3 text-muted transition-colors rounded-full border-muted border cursor-pointer bg-slate-750;
  @apply hover:bg-slate-900 hover:border-muted hover:text-textColor-primary;
}

.iconEditAvatar.active {
  @apply bg-slate-900 border-muted text-textColor-primary;
}

.list-avatars {
  @apply absolute top-full right-0 mt-4 p-4 bg-slate-900 flex gap-4 max-w-full justify-end rounded-md border border-muted shadow;
}

.list-contact img {
  @apply w-6 h-6 object-contain object-center mr-4;
}

.skill-name {
  @apply w-40;
}

.skill-level .star {
  @apply w-7 overflow-visible stroke-highlight;
  stroke-width: 60px;
}

.skill-level:hover .star {
  @apply fill-highlight;
}

.skill-level:hover .star:hover + svg,
.skill-level:hover .star:hover + svg + svg,
.skill-level:hover .star:hover + svg + svg + svg,
.skill-level:hover .star:hover + svg + svg + svg + svg {
  @apply fill-none;
}

.skills .trash,
.personal .trash {
  @apply w-0 opacity-0 transition-all;
}

.skills li:hover .trash {
}

.skills li:hover .trash,
.personal li:hover .trash {
  @apply opacity-100 w-6;
}

.list-hobbies {
  @apply gap-2;
}

.list-hobbies .trash {
  @apply opacity-0 transition-all;
}

.list-hobbies li {
  @apply w-max px-3 py-1 bg-red text-textColor-primary rounded-2xl flex font-serif font-medium tracking-widest;
}

.endEditModeButtons {
  @apply fixed bottom-8 flex gap-4;
  left: 50%;
  transform: translateX(-50%);
}

.endEditModeButtons .btn-green {
  @apply bg-slate-800 hover:px-16 hover:py-4;
}

.endEditModeButtons .btn-muted {
  @apply bg-slate-800;
}

.list-projects .h3 {
  @apply mt-0 flex gap-2 items-center;
}

.isDone .h3 {
  @apply text-muted;
}

.list-projects .check {
  @apply text-green block w-8;
}
