/* ********** BASIC FONT ********** */

body{
  @apply font-sans font-normal text-base tracking-wide leading-6 antialiased text-textColor;
  min-height:100vh;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  @apply font-serif font-bold text-base tracking-wide leading-5 text-textColor-primary uppercase
}

h1, .h1{
  @apply text-3xl
}

h2, .h2{
  @apply text-2xl
}

h3, .h3{
  @apply text-xl
}

h4, .h4{
  @apply text-lg
}

h5, .h5{
  @apply text-lg font-medium
}

h6, .h6{
  @apply text-lg font-normal
}



/* ********** BASIC ELEMENTS ********** */

/* *** FORM *** */
input{
  @apply border border-transparent rounded p-2 bg-bgColor-muted transition-all block w-full;
  @apply hover:border-muted focus:border-primary focus:bg-white;
  outline:none;
}

form .field{
  @apply relative
}

form .field + .field{
  @apply mt-4
}

/* *** BUTTON *** */
.btn{
  @apply leading-5 font-serif text-sm uppercase px-8 py-2 font-bold rounded transition-all relative z-10 border-2 border-bgColor-muted block;
  @apply hover:text-inverted hover:border-bgColor-primaryLight
}

.btn:after, .btn:before{
  @apply absolute top-0.5 left-0.5 w-0 transition-all block;
  content:"";
  height:calc(100% - 4px);
  transition-duration: .4s;
  z-index: -1;
}

.btn:before{
  @apply bg-bgColor-highlight;
}

.btn:after{
  @apply bg-bgColor-primaryLight;
  transition-delay: .1s;
}

.btn:hover:after, .btn:hover:before{
  width:calc(100% - 4px);
}

.btn-primary{
  @apply text-inverted bg-bgColor-primaryLight
}


/* ********** COMPONENT/HEADER ********** */

.headerbar{
  @apply fixed top-0 left-0 w-full px-8 h-20 transition-all flex justify-between
}

.logo img{
  @apply h-16 w-auto transition-all;
}

.sidebar-togglers{
  @apply flex items-center
}

.toggle-nav{
  @apply mr-8
}

.toggle-nav svg{
  @apply w-6
}


/* ********** COMPONENT/AUTHENTICATION ********** */

.user-authentication label{
  @apply absolute left-1 top-2 text-textColor-muted text-sm transition-all z-10 pointer-events-none px-1;
}

.user-authentication .has-text input{
  @apply bg-white
}

.user-authentication input:focus + label,
.user-authentication .has-text input + label,
.user-authentication .is-acceptable input + label{
  @apply left-1 top-0 text-xs leading-4 bg-white;
  transform:translateY(-50%);
}

.user-authentication .has-error input{
  @apply border-error;
  box-shadow: 0 0 3px #eb4747;
}

.user-authentication .is-acceptable input{
  @apply border-success;
  box-shadow: 0 0 3px #33ff88;
}

.user-authentication .errors{
  @apply text-error text-sm overflow-hidden max-h-0 transition-all;
}

.user-authentication .has-error .errors{
  @apply max-h-12
}

.user-authentication .btn{
  @apply disabled:pointer-events-none disabled:text-textColor-muted;
}

/* *** DASHBOARD *** */
.dashboard .user-authentication{
  @apply max-w-sm mx-auto
}

.dashboard .user-authentication .btn{
  @apply ml-auto
}