/* ********** BASIC FONT ********** */

body{
  @apply font-sans font-light text-base tracking-wide leading-6 antialiased text-textColor pt-20;
  min-height:100vh;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  @apply font-serif font-bold text-base tracking-wide text-textColor-primary uppercase tracking-normal;
  line-height:1em;
}

h1, .h1{
  @apply text-3xl
}

h2, .h2{
  @apply text-2xl
}

h3, .h3{
  @apply text-xl
}

h4, .h4{
  @apply text-lg
}

h5, .h5{
  @apply text-lg font-medium
}

h6, .h6{
  @apply text-lg font-normal
}

a{
  @apply text-textColor-primary transition-all font-normal
}

p+p{
  margin-top:.75em;
}

[class^="el-"]:not(:last-child){
  @apply mb-8
}

svg{
  @apply fill-current;
}



/* ********** BASIC LAYOUT ********** */

.container{
  @apply p-conainer;
  max-width: 1328px;
}

.container.small{
  max-width:928px;
}

.container.large{
  max-width:1728px;
}

.container.padding-lg{
  @apply py-conainerLg;
}

.container.padding-sm{
  @apply py-conainerSm;
}

.container.padding-xs{
  @apply py-conainerXs;
}




/* ********** BASIC ELEMENTS ********** */

/* *** FORM *** */
input, textarea{
  @apply border border-transparent rounded p-2 bg-bgColor-mutedLight transition-all block w-full;
  @apply hover:border-muted focus:border-primary focus:bg-white;
  outline:none;
}

form .field{
  @apply relative
}

form .field + .field{
  @apply mt-4
}

form label,
.autocomplete label{
  @apply absolute left-1 top-2 text-textColor-muted text-sm transition-all z-10 pointer-events-none px-1;
}

form .has-text input{
  @apply bg-white
}

form :focus + label,
form .has-text label,
form .is-acceptable label,
.autocomplete :focus + label{
  @apply left-1 top-0 text-xs leading-4 bg-white;
  transform:translateY(-50%);
}

form .has-error input,
form .has-error textarea{
  @apply border-error;
  box-shadow: 0 0 3px #eb4747;
}

form .is-acceptable input,
form .is-acceptable textarea{
  @apply border-success;
  box-shadow: 0 0 3px #33ff88;
}

form .errors{
  @apply text-error text-sm overflow-hidden max-h-0 transition-all;
}

form .has-error .errors{
  @apply max-h-12
}

form .btn{
  @apply disabled:pointer-events-none disabled:text-textColor-muted;
}

/* *** BUTTON *** */
.btn{
  @apply leading-5 font-serif text-sm uppercase px-8 py-2 font-bold rounded transition-all relative z-10 border-2 border-bgColor-muted block cursor-pointer;
  @apply hover:text-inverted hover:border-bgColor-primaryLight
}

.btn:after, .btn:before{
  @apply absolute top-0.5 left-0.5 w-0 transition-all block;
  content:"";
  height:calc(100% - 4px);
  transition-duration: .4s;
  z-index: -1;
}

.btn:before{
  @apply bg-bgColor-highlight;
}

.btn:after{
  @apply bg-bgColor-primaryLight;
  transition-delay: .1s;
}

.btn:hover:after, .btn:hover:before{
  width:calc(100% - 4px);
}

.btn-primary{
  @apply text-inverted bg-bgColor-primaryLight
}

/* BTN VARIATION */
.btn-text{
  @apply relative
}

.btn-text:after{
  @apply absolute bottom-0 left-0 w-0 bg-current transition-all;
  @apply hover:w-full;
  height:1px;
  content:"";
}

a:hover .btn-text:after{
  @apply w-full
}

.btn-close{
  @apply w-12 -rotate-45 p-3 text-muted cursor-pointer transition-all border-transparent rounded-full;
  @apply hover:rotate-45 hover:bg-bgColor-mutedLight hover:border-muted hover:text-primary;
}

/* *** TEXT *** */


/* ********** COMPONENT/HEADER ********** */

.headerbar{
  @apply fixed top-0 left-0 w-full px-8 h-20 transition-all flex justify-between items-center;
  z-index: 1000;
}

.logo img{
  @apply h-16 w-auto transition-all;
}

.sidebar-togglers{
  @apply flex items-center
}

.open-navigation, .open-interaction{
  @apply cursor-pointer transition-colors;
}

.open-navigation{
  @apply mr-4 p-4;
  @apply hover:text-primary;
}

.open-navigation svg{
  @apply w-6
}

.sidebar{
  @apply fixed right-0 top-0 h-full pointer-events-none;
  z-index:1010;
}

.sidebar.open{
  @apply pointer-events-auto;
}

.sidebar-overlay{
  @apply fixed w-screen h-screen top-0 right-0 bg-black opacity-0 transition-all;
}

.sidebar.open .sidebar-overlay{
  @apply opacity-60 pointer-events-auto;
}

.sidebar-controls{
  @apply absolute px-8 pt-4 top-0 right-0 h-20 w-full flex items-center bg-white;
}

.sidebar-controls-highlight{
  @apply absolute h-16 left-8 w-16 bg-bgColor-muted border rounded border-muted transition-all;
}

.sidebar-controls-highlight.highlight-interaction{
  @apply left-28
}

.sidebar-open-navigation, .sidebar-open-interaction{
  @apply mr-4 relative px-5 h-16 flex items-center cursor-pointer transition-colors;
  @apply hover:text-primary;
  z-index:10;
}

.sidebar-open-interaction{
  @apply px-2;
}

.sidebar-open-navigation svg{
  @apply w-6;
}

.sidebar-close{
  @apply absolute right-4;
}

.sidebar-content{
  @apply absolute h-full right-0 top-0 bg-white overflow-x-hidden translate-x-[400px] transition-all;
  width:400px;
  z-index:10;
}

.sidebar.open .sidebar-content{
  @apply translate-x-0;
}

.sidebar-content:before, .sidebar-content:after{
  @apply absolute w-8 h-full top-0;
  z-index: 20;
  content:"";
}

.sidebar-content:before{
  @apply bg-gradient-to-r from-white to-transparent left-0
}

.sidebar-content:after{
  @apply bg-gradient-to-l from-white to-transparent right-0
}

.sidebar .h4{
  @apply mb-8;
}

.sidebar .interaction .h3{
  @apply text-lg mb-4;
}

.sidebar .navigation, .sidebar .interaction{
  @apply absolute top-28 left-0 transition-transform w-full px-8;
}

.sidebar .navigation{
  transform:translateX(100%);
}

.sidebar .interaction{
  transform:translateX(-100%);
}

.sidebar .navigation.active, .sidebar .interaction.active{
  @apply translate-x-0;
}

.sidebar .navigation a{
  @apply relative py-1 pl-4 block text-textColor;
}

.sidebar .navigation ul ul a{
  @apply pl-8 font-light;
}



/* ********** COMPONENT/USER AUTHENTICATION ********** */

.user-authentication form + p{
  @apply mt-4;
}

.user-authentication .h3{
  @apply mb-4;
}

/* *** DASHBOARD *** */

.dashboard .user-authentication{
  @apply max-w-sm mx-auto
}



/* ********** COMPONENT/MODAL ********** */

.modal{
  @apply fixed top-0 left-0 right-0 bottom-0 transition-all opacity-0;
  z-index:10000;
}

.modal.open{
  @apply opacity-100;
}

.modal-overlay{
  @apply absolute top-0 left-0 right-0 bottom-0 bg-black opacity-30;
}

.modal-content{
  @apply absolute bg-white rounded-lg top-16 left-16 right-16 bottom-16 p-16;
  z-index: 1;
}

.modal-close{
  @apply absolute top-10 right-10 bg-bgColor-mutedLight shadow;
  @apply hover:bg-bgColor-muted;
  z-index: 2;
}



/* ********** COMPONENT/AUTOCOMPLETE ********** */

.autocomplete{
  @apply relative;
}

.suggestions-list{
  @apply absolute top-full w-max min-w-40 bg-bgColor-mutedLight border-muted border rounded-md overflow-hidden;
  z-index:100;
}

.suggestions-list li{
  @apply p-2
}

.suggestions-list .active{
  @apply bg-bgColor-primary text-inverted;
}



/* ********** COMPONENT/TRASH ********** */

.trash{
  @apply cursor-pointer;
}



/* ********** PROFILE ********** */

.skill-name{
  @apply w-40
}

.skill-level .star{
  @apply w-6 overflow-visible stroke-2 stroke-primary;
}

.skill-level:hover .star{
  @apply fill-primary;
}

.skill-level:hover .star:hover + svg,
.skill-level:hover .star:hover + svg + svg, 
.skill-level:hover .star:hover + svg + svg + svg,
.skill-level:hover .star:hover + svg + svg + svg + svg{
  @apply fill-none;
}

.skills .trash{
  @apply w-5;
}